[submodule "core"]
	path = core
	url = git://github.com/couchbase/couchbase-lite-core
[submodule "legal"]
	path = legal
	url = git://github.com/couchbase/product-texts
[submodule "couchbase-lite-core-EE"]
	path = couchbase-lite-core-EE
	url = ssh://git@github.com/couchbase/couchbase-lite-core-EE
[submodule "common"]
	path = common
	url = https://github.com/couchbase/couchbase-lite-java-common
[submodule "ce"]
	path = ce
	url = https://github.com/couchbase/couchbase-lite-java-ce
